language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "pypy"
  - "pypy3"
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true
      dist: xenial

install:
  - if [[ $TRAVIS_PYTHON_VERSION == 2.6 ]]; then pip install -r requirements-py26.txt; fi
  - pip install lz4a
  - pip install .

script:
  - python tests/ut/test_util.py
  - python tests/etl_test/test_case.py
  - python tests/cli_config_check/test_case.py
  - python tests/sample.py
  - python tests/integration_test/test_logtail_config.py
  - python tests/integration_test/test_entity.py
  - python tests/integration_test/test_log_handler.py
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then python tests/sample_consumer.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then python tests/es_migration/test_doc_logitem_converter.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then python tests/es_migration/test_index_logstore_mappings.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION != 2.6 ]]; then python tests/es_migration/test_mapping_index_converter.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then python tests/es_migration/test_doc_logitem_converter_p27.py; fi
